html{

    box-sizing: 60px 40px;
    font-family: sans-serif;
    
}

.wrapper{

    display: grid;
    grid-gap: 1px;

}

.button{

    background: #fff;
    color: #4CAF50;
    text-decoration: none;
    border: 3px solid #4CAF50;
    border-radius: 5px;
    size: 1rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    width: 220px;
    height: 20px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.button1{

    background: #fff;
    color:#f44336;
    text-decoration: none;
    border: 3px solid #f44336;
    border-radius: 5px;
    size: 1rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    width: 220px;
    height: 20px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}



.button:hover {
    background-color: #4CAF50;
    color: white;
}
.button1:hover {
    background-color: #f44336;
    color: white;
  }
  

.info.button{
    
        
    text-align: center;
    width: 100%;
    float: inline-start;
    
}

.boxes{

    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(2px, 1fr));
}

.box{
    background: #ffffff;
    text-align: justify;
    padding-bottom: 20px;
    padding-left: 3px;
    width:600px;
    margin: auto;
    border: 1px solid rgb(63, 62, 62);
    border-radius: 10px;
    
}

h3{

    color: #929191;
}

p {

    text-size-adjust: 30px;
}

img { 

    float: right;
    padding-right: 10px;
    padding: 30px;
    border: 1px solid rgb(63, 62, 62);
    border-radius: 10px;
    

}